bin/
*/bin/
*.sty-E
tmpOut
tst.tex
*.aux
*.log
*.fls
*.fdb_latexmk
tmpstdout
tmpstderror
*.cut
tst.pdf
*/tst.tex
*/tst.pdf
exbank/*
packaging/
exercisebank/
exercisebank/*
exbankCTAN.zip
packaging
!src/packaging
*.bak
docs/
!docs/styling.tex
!docs/intro.tex
!docs/preamble.tex
!docs/changelog.tex
!docs/commands.log
src/main.pdf
